<div *ngFor="let shape of shapes">
  <app-circle [radius]="shape.crossdim/2"></app-circle>
</div>

<!--
<div *ngIf="shapes.length > 0">
  <h1>Feast your Eyes</h1>
  <div *ngFor="let shape of shapes">
    <app-circle 
      *ngIf="shape.type === 'Circle'" 
      [radius]="shape.crossdim/2" 
    ></app-circle>
    <app-square 
      *ngIf="shape.type === 'Square'" 
      [sidelen]="shape.crossdim" 
      [angle]="angle" 
    ></app-square>
  </div>
</div>
<div *ngIf="shapes.length === 0">
  <h1>Loading ...</h1>
</div>
-->

